# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Credentials and Tokens
credentials.json
token.json
*.db

# Attachments and local data
attachments/
